body {
    font-family: 'Montserrat';
}

.navbar {
    background-color: #171717;
    border-bottom: 1px solid #333;
}

.nav-item {
    margin-right: 25px;
    font-weight: 200;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.nav-link span {
    color: #F9B234;
    font-weight: 600;
}

.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'Lora';
}

.carousel p {
    font-weight: 200;
}

.features h3,
.designer h3 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}

.features p,
.designer p,
footer p {
    font-weight: 200;
    color: #B7B7B7;
}

.figure h5 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    font-size: 22px;
    opacity: 0;
    transition: opacity 0.4s;
}

.figure-img a:hover {
    opacity: 1;
}