/*Media Query android*/

@media (max-width: 767.98px) {

	header .container img{
		height: 70px;
		width: 70px;
	}
	header .container h1{
		position: relative;
		font-size: 30px;
		text-shadow: 1px 2px 1px black;
	}
	header .btn{
		width: 90px;
		font-size: 11px;
		color: white;
	}
	header .btn i{
		display: none;
	}
	header .dropdown-menu{
		margin-top: 30px !important;
	}
	header .dropdown img{
		width: 30px !important;
		height: 30px !important;
	}
}


/*Windows*/

body{
	font-family: sans-serif;
	background-image: url(foto/vlcsnap-2018-06-12-13h07m02s231.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*Header*/

.transparan{
	background-color: rgba(48, 133, 119,1);
}

.transparan2{
	color: white;
	padding: 20px;
	text-align: center;
	margin-bottom: 50px;
	background-color: rgba(0, 0, 0,0.9);
}

header .btn{
	background-color: rgba(136,228,182,0.6);
	transition: 0.3s;
	color: white;
}

header h1{
	text-shadow: 1px 2px 1px black;
}

header .btn:hover{
	color: black;
}

header .dropdown-menu{
	margin-top: 35px;
}

header .dropdown img{
	width: 40px;
	height: 40px;
}
header .dropdown span{
	color: white;
}

/* Header Akhir */




/*Content*/

body{
	position: relative;
}

body::after{
	content: "";
	position: absolute;
	background-image: url(foto/vlcsnap-2018-06-12-13h07m02s231.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	filter: blur(2px);
 	-webkit-filter: blur(2px);
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -2;
}

body::before{
	content: "";
	position: absolute;
/*	background-color: rgba(0,0,0,0.4);*/
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}



.konten{
	background: rgba(136,228,182,0.7);
	padding: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}

.konten form input{
	align-self: center;
	transition: 0.5s;
}

.konten form input:hover, .konten form input:focus{
	height: 40px;
}

.form1 .btn{
	background-color: #308577;
	width: 100%;
	text-shadow: 0.5px 1px 2px black;
	margin-top: 15px;
}

form{
	font-weight: bold;
	text-shadow: 0.5px 0.5px 0.5px gray;
}

@media (max-width: 1199.98px) {
	.right h1{
		margin-top: 20px !important;
	}	
}

.right h1{
	font-weight: bold;
	margin: 40px 0 30px;
	text-shadow: 0.5px 0.5px 0.5px gray;
}

.left img.gambar1{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.left img.gambar2{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.invalid-tooltip{
	font-size: 11px !important;
	margin-bottom: 0;
}

.valid-tooltip{
	font-size: 11px !important;
	margin-bottom: 0;
}



/*Footer*/

footer{
	background-color: black;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer i{
	margin-left: 5px;
}